@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif; }

body {
  background-color: #dbdfe6; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

button {
  cursor: pointer;
  border: none;
  outline: none;
  box-sizing: border-box; }

ul,
li {
  margin: 0;
  padding: 0,inherit;
  list-style: none; }

img {
  margin: 0;
  padding: 0; }

.container {
  width: 768px;
  padding: 0 28px 0 28px;
  margin: 0 auto;
  position: relative; }

.header {
  background: #6B7581; }
  .header__inner {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between; }
  .header__btn {
    width: 24px;
    height: 20px;
    border: none;
    outline: none;
    position: relative;
    background: inherit;
    margin-top: 9px;
    margin-right: 64px; }
    .header__btn::after {
      content: "";
      width: 24px;
      height: 4px;
      background: #DBDFE6;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 0 8px 0 0 #DBDFE6, 0 16px 0 0 #DBDFE6; }
  .header__left {
    margin: 17px 0 17px 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between; }
  .header__right {
    margin: 8px 0 8px 0; }
  .header__search-img {
    cursor: pointer; }
  .header__avatar {
    margin-left: 20px; }
  .header__search {
    display: none; }

@media (min-width: 834px) {
  .container {
    width: 834px; } }
@media (min-width: 1360px) {
  .container {
    width: 1360px;
    padding: 0 40px 0 100px; }

  .header__btn {
    display: none; }
  .header__search {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    margin-left: 65px;
    border-bottom: 1px solid #CACACA;
    padding-top: 16px; }
  .header__search-input {
    background: inherit;
    border: none;
    outline: none;
    font-size: 12px;
    line-height: 130%;
    height: 16px;
    width: 210px;
    padding: 0; }
    .header__search-input::placeholder {
      color: #CACACA;
      font-size: 12px; }
    .header__search-input::-webkit-input-placeholder {
      color: #CACACA; }
    .header__search-input::-moz-placeholder {
      color: #CACACA; }
    .header__search-input::-ms-input-placeholder {
      color: #CACACA; }
  .header__search-input[placeholder] {
    color: blue; }
  .header__search-img {
    display: none; }
  .header__search-img1 {
    width: 20px;
    height: 20px;
    margin-bottom: 6px;
    margin-left: 176px; } }
@media (min-width: 1440px) {
  .container {
    width: 1440px; } }
@media (min-width: 1600px) {
  .container {
    width: 1600px;
    padding: 0 40px 0 120px; } }
@media (min-width: 1920px) {
  .container {
    width: 1920px;
    padding: 0 100px 0 120px; } }

/*# sourceMappingURL=style.css.map */
